.order_error {
   font-size: 9px;
   color: #FF0000;
}

.header_cell {
   background: #004164;
   color: #FFFFFF;
   font-weight: bold;
   }

.label_cell {
   font-weight: bold;
   font-size: 12px
}

.value_cell {
   font-size: 12px;
}

form {margin-bottom: 0px;}

body {
   font-size:   12px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   margin:      0px;
   background:  #FFFFFF;
   }

p {
   font-size:   12px;
   }


.navlinks A:hover {
   color: #DF0000;
   text-decoration: none;
   }

.search {
	position: absolute;
	top: 60px;
	right: 170px;
   }