body {
	margin: 0px;
}

#frontimg {
	position: absolute;
	display: block;
}

.info {
	position: absolute;
	right: 15px;
	bottom: 18px;
	width: 13px;
	height: 13px;
}

#back {
	height: 144px;
	display: none;
}

#backimg {
	position: absolute;
	display: block;
}

#hellotext {
	position: absolute;
	left: 73px;
	top: 55px;
	right: 73px;
	width: 91px;
	color: black;
	font-family: Helvetica Neue Bold;
	font-size: 11pt;
	font-weight: bold;
}

.backDevelopedWith {
	position: absolute;
	top: 69px;
	left: 53px;
	right: 53px;
	margin-left: auto;
	margin-right: auto;
}

#frontimg {
	width: 238px;
}

#backimg {
	width: 238px;
}

#backimg {
	height: 274px;
}

#frontimg {
	height: 276px;
}

#backimg {
	width: 238px;
}

#backimg {
	height: 276px;
}

#frontimg {
	width: 240px;
}

#backimg {
	width: 240px;
}

#backimg {
	height: 276px;
}

#frontimg {
	width: 242px;
}

#backimg {
	width: 242px;
}

#backimg {
	height: 276px;
}

#frontimg {
	width: 246px;
}

#backimg {
	width: 246px;
}

#backimg {
	height: 276px;
}

#frontimg {
	width: 250px;
}

#backimg {
	width: 250px;
}

#backimg {
	height: 276px;
}

#frontimg {
	width: 258px;
}

#frontimg {
	height: 278px;
}

#backimg {
	width: 258px;
}

#backimg {
	height: 278px;
}

#frontimg {
	width: 266px;
}

#backimg {
	width: 266px;
}

#backimg {
	height: 278px;
}

#frontimg {
	width: 278px;
}

#backimg {
	width: 278px;
}

#backimg {
	height: 278px;
}

#frontimg {
	width: 296px;
}

#backimg {
	width: 296px;
}

#backimg {
	height: 278px;
}

#frontimg {
	width: 318px;
}

#frontimg {
	height: 276px;
}

#backimg {
	width: 318px;
}

#backimg {
	height: 276px;
}

#frontimg {
	width: 338px;
}

#backimg {
	width: 338px;
}

#backimg {
	height: 276px;
}

#frontimg {
	width: 364px;
}

#frontimg {
	height: 272px;
}

#backimg {
	width: 364px;
}

#backimg {
	height: 272px;
}

#frontimg {
	width: 402px;
}

#frontimg {
	height: 264px;
}

#backimg {
	width: 402px;
}

#backimg {
	height: 264px;
}

#frontimg {
	width: 414px;
}

#frontimg {
	height: 260px;
}

#backimg {
	width: 414px;
}

#backimg {
	height: 260px;
}

#frontimg {
	height: 258px;
}

#backimg {
	width: 414px;
}

#backimg {
	height: 258px;
}

#frontimg {
	width: 416px;
}

#frontimg {
	height: 254px;
}

#backimg {
	width: 416px;
}

#backimg {
	height: 254px;
}

#frontimg {
	width: 418px;
}

#frontimg {
	height: 246px;
}

#backimg {
	width: 418px;
}

#backimg {
	height: 246px;
}

#frontimg {
	width: 422px;
}

#frontimg {
	height: 244px;
}

#backimg {
	width: 422px;
}

#backimg {
	height: 244px;
}

#frontimg {
	width: 424px;
}

#backimg {
	width: 424px;
}

#backimg {
	height: 244px;
}

#frontimg {
	width: 426px;
}

#backimg {
	width: 426px;
}

#backimg {
	height: 244px;
}

#frontimg {
	width: 432px;
}

#backimg {
	width: 432px;
}

#backimg {
	height: 244px;
}

#frontimg {
	width: 434px;
}

#backimg {
	width: 434px;
}

#backimg {
	height: 244px;
}

#frontimg {
	width: 438px;
}

#backimg {
	width: 438px;
}

#backimg {
	height: 244px;
}

#frontimg {
	width: 444px;
}

#frontimg {
	height: 240px;
}

#backimg {
	width: 444px;
}

#backimg {
	height: 240px;
}

#frontimg {
	width: 456px;
}

#frontimg {
	height: 222px;
}

#backimg {
	width: 456px;
}

#backimg {
	height: 222px;
}

#frontimg {
	width: 462px;
}

#frontimg {
	height: 212px;
}

#backimg {
	width: 462px;
}

#backimg {
	height: 212px;
}

#frontimg {
	height: 208px;
}

#backimg {
	width: 462px;
}

#backimg {
	height: 208px;
}

#frontimg {
	width: 458px;
}

#frontimg {
	height: 198px;
}

#backimg {
	width: 458px;
}

#backimg {
	height: 198px;
}

#frontimg {
	width: 444px;
}

#frontimg {
	height: 168px;
}

#backimg {
	width: 444px;
}

#backimg {
	height: 168px;
}

#frontimg {
	width: 436px;
}

#frontimg {
	height: 152px;
}

#backimg {
	width: 436px;
}

#backimg {
	height: 152px;
}

#frontimg {
	width: 432px;
}

#frontimg {
	height: 146px;
}

#backimg {
	width: 432px;
}

#backimg {
	height: 146px;
}

#hellotext {
	left: 72px;
}

#hellotext {
	left: 71px;
}

#hellotext {
	left: 70px;
}

#hellotext {
	left: 69px;
}

#hellotext {
	left: 68px;
}

#hellotext {
	left: 67px;
}

#hellotext {
	top: 54px;
}

#hellotext {
	left: 65px;
}

#hellotext {
	top: 52px;
}

#hellotext {
	left: 64px;
}

#hellotext {
	top: 50px;
}

#hellotext {
	left: 61px;
}

#hellotext {
	top: 48px;
}

#hellotext {
	left: 59px;
}

#hellotext {
	top: 46px;
}

#hellotext {
	left: 57px;
}

#hellotext {
	top: 42px;
}

#hellotext {
	left: 55px;
}

#hellotext {
	top: 35px;
}

#hellotext {
	left: 49px;
}

#hellotext {
	top: 32px;
}

#hellotext {
	left: 46px;
}

#hellotext {
	top: 31px;
}

#hellotext {
	left: 45px;
}

#hellotext {
	left: 44px;
}

#hellotext {
	top: 30px;
}

#hellotext {
	left: 43px;
}

#hellotext {
	top: 29px;
}

#hellotext {
	left: 39px;
}

#hellotext {
	top: 28px;
}

#hellotext {
	top: 27px;
}

#hellotext {
	left: 36px;
}

#hellotext {
	left: 35px;
}

#hellotext {
	left: 34px;
}

#hellotext {
	left: 33px;
}

#hellotext {
	left: 32px;
}

#hellotext {
	left: 31px;
}

#hellotext {
	top: 26px;
}

#hellotext {
	left: 30px;
}

#frontimg {
	top: -1px;
}

#frontimg {
	left: 1px;
}

#hellotext {
	top: 27px;
}

#hellotext {
	top: 28px;
}

#hellotext {
	top: 30px;
}

#hellotext {
	left: 36px;
}

#hellotext {
	top: 34px;
}

#hellotext {
	left: 50px;
}

#hellotext {
	top: 42px;
}

#hellotext {
	left: 91px;
}

#hellotext {
	top: 49px;
}

#hellotext {
	left: 141px;
}

#hellotext {
	top: 59px;
}

#hellotext {
	left: 201px;
}

#hellotext {
	top: 67px;
}

#hellotext {
	left: 248px;
}

#hellotext {
	top: 73px;
}

#hellotext {
	left: 294px;
}

#hellotext {
	top: 74px;
}

#hellotext {
	left: 314px;
}

#hellotext {
	left: 319px;
}

#hellotext {
	left: 320px;
}

#hellotext {
	left: 321px;
}

#hellotext {
	top: 71px;
}

#hellotext {
	left: 326px;
}

#hellotext {
	top: 63px;
}

#hellotext {
	left: 335px;
}

#hellotext {
	top: 61px;
}

#hellotext {
	left: 338px;
}

#hellotext {
	top: 59px;
}

#hellotext {
	top: 58px;
}

#hellotext {
	left: 337px;
}

#hellotext {
	top: 57px;
}

#front {
	display: block;
}

#text1 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	top: 109px;
	left: 22px;
	color: rgb(73, 84, 123);
	text-shadow: rgb(162, 156, 75) 2px 2px 0px;
}

#text5 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	color: rgb(127, 127, 127);
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	left: 22px;
	top: 51px;
}

#text2 {
	position: absolute;
	font-family: Helvetica Neue;
	left: 22px;
	top: 19px;
	font-size: 23.3333px;
	color: rgb(78, 69, 77);
	text-shadow: rgb(162, 156, 75) 2px 2px 0px;
}

#text4 {
	position: absolute;
	color: black;
	font-family: Helvetica Neue;
	font-size: 10pt;
}

#text156 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	left: 22px;
	top: 46px;
	color: rgb(78, 69, 77);
	text-shadow: rgb(123, 130, 60) 2px 2px 0px;
}

#text1568 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	left: 22px;
	top: 94px;
	color: rgb(73, 84, 123);
	text-shadow: rgb(162, 156, 75) 2px 2px 0px;
}

#frontimg {
	width: 430px;
}

#frontimg {
	height: 146px;
}

#backimg {
	width: 430px;
}

#backimg {
	height: 146px;
}

#frontimg {
	width: 426px;
}

#backimg {
	width: 426px;
}

#backimg {
	height: 146px;
}

#frontimg {
	width: 422px;
}

#backimg {
	width: 422px;
}

#backimg {
	height: 146px;
}

#frontimg {
	width: 416px;
}

#frontimg {
	height: 144px;
}

#backimg {
	width: 416px;
}

#backimg {
	height: 144px;
}

#frontimg {
	width: 414px;
}

#frontimg {
	height: 142px;
}

#backimg {
	width: 414px;
}

#backimg {
	height: 142px;
}

#frontimg {
	width: 410px;
}

#backimg {
	width: 410px;
}

#backimg {
	height: 142px;
}

#frontimg {
	width: 404px;
}

#backimg {
	width: 404px;
}

#backimg {
	height: 142px;
}

#frontimg {
	width: 392px;
}

#frontimg {
	height: 140px;
}

#backimg {
	width: 392px;
}

#backimg {
	height: 140px;
}

#frontimg {
	width: 376px;
}

#frontimg {
	height: 136px;
}

#backimg {
	width: 376px;
}

#backimg {
	height: 136px;
}

#frontimg {
	width: 366px;
}

#backimg {
	width: 366px;
}

#backimg {
	height: 136px;
}

#frontimg {
	width: 358px;
}

#backimg {
	width: 358px;
}

#backimg {
	height: 136px;
}

#frontimg {
	width: 354px;
}

#backimg {
	width: 354px;
}

#backimg {
	height: 136px;
}

#frontimg {
	width: 338px;
}

#frontimg {
	height: 144px;
}

#backimg {
	width: 338px;
}

#backimg {
	height: 144px;
}

#frontimg {
	width: 328px;
}

#frontimg {
	height: 146px;
}

#backimg {
	width: 328px;
}

#backimg {
	height: 146px;
}

#frontimg {
	width: 314px;
}

#frontimg {
	height: 148px;
}

#backimg {
	width: 314px;
}

#backimg {
	height: 148px;
}

#frontimg {
	width: 288px;
}

#backimg {
	width: 288px;
}

#backimg {
	height: 148px;
}

#frontimg {
	width: 282px;
}

#backimg {
	width: 282px;
}

#backimg {
	height: 148px;
}

#frontimg {
	width: 276px;
}

#backimg {
	width: 276px;
}

#backimg {
	height: 148px;
}

#frontimg {
	width: 258px;
}

#frontimg {
	height: 150px;
}

#backimg {
	width: 258px;
}

#backimg {
	height: 150px;
}

#frontimg {
	width: 228px;
}

#frontimg {
	height: 154px;
}

#backimg {
	width: 228px;
}

#backimg {
	height: 154px;
}

#frontimg {
	width: 182px;
}

#frontimg {
	height: 160px;
}

#backimg {
	width: 182px;
}

#backimg {
	height: 160px;
}

#frontimg {
	height: 158px;
}

#backimg {
	width: 182px;
}

#backimg {
	height: 158px;
}

#frontimg {
	width: 192px;
}

#frontimg {
	height: 150px;
}

#backimg {
	width: 192px;
}

#backimg {
	height: 150px;
}

#frontimg {
	width: 200px;
}

#backimg {
	width: 200px;
}

#backimg {
	height: 150px;
}

#frontimg {
	width: 204px;
}

#backimg {
	width: 204px;
}

#backimg {
	height: 150px;
}

#frontimg {
	width: 210px;
}

#backimg {
	width: 210px;
}

#backimg {
	height: 150px;
}

#frontimg {
	width: 214px;
}

#backimg {
	width: 214px;
}

#backimg {
	height: 150px;
}

#frontimg {
	width: 224px;
}

#frontimg {
	height: 148px;
}

#backimg {
	width: 224px;
}

#backimg {
	height: 148px;
}

#frontimg {
	width: 238px;
}

#backimg {
	width: 238px;
}

#backimg {
	height: 148px;
}

#frontimg {
	width: 248px;
}

#frontimg {
	height: 146px;
}

#backimg {
	width: 248px;
}

#backimg {
	height: 146px;
}

#frontimg {
	width: 256px;
}

#backimg {
	width: 256px;
}

#backimg {
	height: 146px;
}

#frontimg {
	width: 258px;
}

#backimg {
	width: 258px;
}

#backimg {
	height: 146px;
}

#frontimg {
	width: 260px;
}

#frontimg {
	height: 144px;
}

#backimg {
	width: 260px;
}

#backimg {
	height: 144px;
}

#frontimg {
	width: 268px;
}

#frontimg {
	height: 146px;
}

#backimg {
	width: 268px;
}

#backimg {
	height: 146px;
}

#frontimg {
	width: 274px;
}

#frontimg {
	height: 154px;
}

#backimg {
	width: 274px;
}

#backimg {
	height: 154px;
}

#frontimg {
	width: 278px;
}

#frontimg {
	height: 158px;
}

#backimg {
	width: 278px;
}

#backimg {
	height: 158px;
}

#frontimg {
	height: 160px;
}

#backimg {
	width: 278px;
}

#backimg {
	height: 160px;
}

#frontimg {
	height: 158px;
}

#backimg {
	width: 278px;
}

#backimg {
	height: 158px;
}

#frontimg {
	width: 280px;
}

#frontimg {
	height: 156px;
}

#backimg {
	width: 280px;
}

#backimg {
	height: 156px;
}

#frontimg {
	width: 282px;
}

#frontimg {
	height: 154px;
}

#backimg {
	width: 282px;
}

#backimg {
	height: 154px;
}

#frontimg {
	width: 280px;
}

#backimg {
	width: 280px;
}

#backimg {
	height: 154px;
}

#frontimg {
	width: 246px;
}

#backimg {
	width: 246px;
}

#backimg {
	height: 154px;
}

#frontimg {
	width: 238px;
}

#backimg {
	width: 238px;
}

#backimg {
	height: 154px;
}

#frontimg {
	width: 216px;
}

#frontimg {
	height: 150px;
}

#backimg {
	width: 216px;
}

#backimg {
	height: 150px;
}

#frontimg {
	width: 214px;
}

#frontimg {
	height: 148px;
}

#backimg {
	width: 214px;
}

#backimg {
	height: 148px;
}

#frontimg {
	height: 150px;
}

#backimg {
	width: 214px;
}

#backimg {
	height: 150px;
}

#frontimg {
	height: 152px;
}

#backimg {
	width: 214px;
}

#backimg {
	height: 152px;
}

#frontimg {
	height: 154px;
}

#backimg {
	width: 214px;
}

#backimg {
	height: 154px;
}

#frontimg {
	width: 216px;
}

#backimg {
	width: 216px;
}

#backimg {
	height: 154px;
}

#frontimg {
	width: 234px;
}

#backimg {
	width: 234px;
}

#backimg {
	height: 154px;
}

#info {
	top: 109px;
	left: 281px;
}

#frontimg {
	width: 232px;
}

#backimg {
	width: 232px;
}

#backimg {
	height: 154px;
}

#frontimg {
	width: 228px;
}

#backimg {
	width: 228px;
}

#backimg {
	height: 154px;
}

#frontimg {
	height: 156px;
}

#backimg {
	width: 228px;
}

#backimg {
	height: 156px;
}

#frontimg {
	width: 262px;
}

#frontimg {
	height: 158px;
}

#backimg {
	width: 262px;
}

#backimg {
	height: 158px;
}

#frontimg {
	width: 284px;
}

#frontimg {
	height: 154px;
}

#backimg {
	width: 284px;
}

#backimg {
	height: 154px;
}

#frontimg {
	width: 286px;
}

#backimg {
	width: 286px;
}

#backimg {
	height: 154px;
}

#frontimg {
	width: 310px;
}

#frontimg {
	height: 150px;
}

#backimg {
	width: 310px;
}

#backimg {
	height: 150px;
}

#frontimg {
	width: 312px;
}

#frontimg {
	height: 148px;
}

#backimg {
	width: 312px;
}

#backimg {
	height: 148px;
}

#frontimg {
	width: 298px;
}

#backimg {
	width: 298px;
}

#backimg {
	height: 148px;
}

#frontimg {
	width: 268px;
}

#frontimg {
	height: 146px;
}

#backimg {
	width: 268px;
}

#backimg {
	height: 146px;
}

#frontimg {
	height: 148px;
}

#backimg {
	width: 268px;
}

#backimg {
	height: 148px;
}

#frontimg {
	width: 308px;
}

#backimg {
	width: 308px;
}

#backimg {
	height: 148px;
}

#frontimg {
	width: 312px;
}

#backimg {
	width: 312px;
}

#backimg {
	height: 148px;
}

#frontimg {
	height: 146px;
}

#backimg {
	width: 312px;
}

#backimg {
	height: 146px;
}

#frontimg {
	width: 316px;
}

#frontimg {
	height: 144px;
}

#backimg {
	width: 316px;
}

#backimg {
	height: 144px;
}

#frontimg {
	width: 320px;
}

#frontimg {
	height: 142px;
}

#backimg {
	width: 320px;
}

#backimg {
	height: 142px;
}

#frontimg {
	height: 144px;
}

#backimg {
	width: 320px;
}

#backimg {
	height: 144px;
}

#frontimg {
	width: 322px;
}

#frontimg {
	height: 146px;
}

#backimg {
	width: 322px;
}

#backimg {
	height: 146px;
}

#frontimg {
	height: 148px;
}

#backimg {
	width: 322px;
}

#backimg {
	height: 148px;
}

#frontimg {
	width: 320px;
}

#backimg {
	width: 320px;
}

#backimg {
	height: 148px;
}

#frontimg {
	width: 314px;
}

#frontimg {
	height: 134px;
}

#backimg {
	width: 314px;
}

#backimg {
	height: 134px;
}

#frontimg {
	height: 136px;
}

#backimg {
	width: 314px;
}

#backimg {
	height: 136px;
}

#frontimg {
	width: 316px;
}

#frontimg {
	height: 144px;
}

#backimg {
	width: 316px;
}

#backimg {
	height: 144px;
}

#frontimg {
	width: 318px;
}

#frontimg {
	height: 146px;
}

#backimg {
	width: 318px;
}

#backimg {
	height: 146px;
}

#frontimg {
	height: 148px;
}

#backimg {
	width: 318px;
}

#backimg {
	height: 148px;
}

#frontimg {
	width: 316px;
}

#frontimg {
	height: 150px;
}

#backimg {
	width: 316px;
}

#backimg {
	height: 150px;
}

#frontimg {
	height: 148px;
}

#backimg {
	width: 316px;
}

#backimg {
	height: 148px;
}

#frontimg {
	height: 146px;
}

#backimg {
	width: 316px;
}

#backimg {
	height: 146px;
}

#frontimg {
	width: 318px;
}

#frontimg {
	height: 144px;
}

#backimg {
	width: 318px;
}

#backimg {
	height: 144px;
}

#done {
	position: absolute;
	top: 101px;
	left: 248px;
}

#spantext3 {
	position: absolute;
	font-family: Helvetica Neue;
	color: rgb(191, 191, 191);
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	left: 22px;
	font-size: 15.3333px;
	top: 61px;
}

#spandone {
	position: absolute;
	top: 101px;
	left: 248px;
}

#spanbackimg {
	height: 144px;
}

#spanbackimg {
	width: 318px;
}

#spanfrontimg {
	height: 144px;
}

#spanfrontimg {
	width: 318px;
}

#spanbackimg {
	height: 146px;
}

#spanbackimg {
	width: 316px;
}

#spanfrontimg {
	height: 146px;
}

#spanbackimg {
	height: 148px;
}

#spanbackimg {
	width: 316px;
}

#spanfrontimg {
	height: 148px;
}

#spanbackimg {
	height: 150px;
}

#spanbackimg {
	width: 316px;
}

#spanfrontimg {
	height: 150px;
}

#spanfrontimg {
	width: 316px;
}

#spanbackimg {
	height: 148px;
}

#spanbackimg {
	width: 318px;
}

#spanfrontimg {
	height: 148px;
}

#spanbackimg {
	height: 146px;
}

#spanbackimg {
	width: 318px;
}

#spanfrontimg {
	height: 146px;
}

#spanfrontimg {
	width: 318px;
}

#spanbackimg {
	height: 144px;
}

#spanbackimg {
	width: 316px;
}

#spanfrontimg {
	height: 144px;
}

#spanfrontimg {
	width: 316px;
}

#spanbackimg {
	height: 136px;
}

#spanbackimg {
	width: 314px;
}

#spanfrontimg {
	height: 136px;
}

#spanbackimg {
	height: 134px;
}

#spanbackimg {
	width: 314px;
}

#spanfrontimg {
	height: 134px;
}

#spanfrontimg {
	width: 314px;
}

#spanbackimg {
	height: 148px;
}

#spanbackimg {
	width: 320px;
}

#spanfrontimg {
	width: 320px;
}

#spanbackimg {
	height: 148px;
}

#spanbackimg {
	width: 322px;
}

#spanfrontimg {
	height: 148px;
}

#spanbackimg {
	height: 146px;
}

#spanbackimg {
	width: 322px;
}

#spanfrontimg {
	height: 146px;
}

#spanfrontimg {
	width: 322px;
}

#spanbackimg {
	height: 144px;
}

#spanbackimg {
	width: 320px;
}

#spanfrontimg {
	height: 144px;
}

#spanbackimg {
	height: 142px;
}

#spanbackimg {
	width: 320px;
}

#spanfrontimg {
	height: 142px;
}

#spanfrontimg {
	width: 320px;
}

#spanbackimg {
	height: 144px;
}

#spanbackimg {
	width: 316px;
}

#spanfrontimg {
	height: 144px;
}

#spanfrontimg {
	width: 316px;
}

#spanbackimg {
	height: 146px;
}

#spanbackimg {
	width: 312px;
}

#spanfrontimg {
	height: 146px;
}

#spanbackimg {
	height: 148px;
}

#spanbackimg {
	width: 312px;
}

#spanfrontimg {
	width: 312px;
}

#spanbackimg {
	height: 148px;
}

#spanbackimg {
	width: 308px;
}

#spanfrontimg {
	width: 308px;
}

#spanbackimg {
	height: 148px;
}

#spanbackimg {
	width: 268px;
}

#spanfrontimg {
	height: 148px;
}

#spanbackimg {
	height: 146px;
}

#spanbackimg {
	width: 268px;
}

#spanfrontimg {
	height: 146px;
}

#spanfrontimg {
	width: 268px;
}

#spanbackimg {
	height: 148px;
}

#spanbackimg {
	width: 298px;
}

#spanfrontimg {
	width: 298px;
}

#spanbackimg {
	height: 148px;
}

#spanbackimg {
	width: 312px;
}

#spanfrontimg {
	height: 148px;
}

#spanfrontimg {
	width: 312px;
}

#spanbackimg {
	height: 150px;
}

#spanbackimg {
	width: 310px;
}

#spanfrontimg {
	height: 150px;
}

#spanfrontimg {
	width: 310px;
}

#spanbackimg {
	height: 154px;
}

#spanbackimg {
	width: 286px;
}

#spanfrontimg {
	width: 286px;
}

#spanbackimg {
	height: 154px;
}

#spanbackimg {
	width: 284px;
}

#spanfrontimg {
	height: 154px;
}

#spanfrontimg {
	width: 284px;
}

#spanbackimg {
	height: 158px;
}

#spanbackimg {
	width: 262px;
}

#spanfrontimg {
	height: 158px;
}

#spanfrontimg {
	width: 262px;
}

#spanbackimg {
	height: 156px;
}

#spanbackimg {
	width: 228px;
}

#spanfrontimg {
	height: 156px;
}

#spanbackimg {
	height: 154px;
}

#spanbackimg {
	width: 228px;
}

#spanfrontimg {
	width: 228px;
}

#spanbackimg {
	height: 154px;
}

#spanbackimg {
	width: 232px;
}

#spanfrontimg {
	width: 232px;
}

#spaninfo {
	top: 109px;
	left: 281px;
}

#spanbackimg {
	height: 154px;
}

#spanbackimg {
	width: 234px;
}

#spanfrontimg {
	width: 234px;
}

#spanbackimg {
	height: 154px;
}

#spanbackimg {
	width: 216px;
}

#spanfrontimg {
	width: 216px;
}

#spanbackimg {
	height: 154px;
}

#spanbackimg {
	width: 214px;
}

#spanfrontimg {
	height: 154px;
}

#spanbackimg {
	height: 152px;
}

#spanbackimg {
	width: 214px;
}

#spanfrontimg {
	height: 152px;
}

#spanbackimg {
	height: 150px;
}

#spanbackimg {
	width: 214px;
}

#spanfrontimg {
	height: 150px;
}

#spanbackimg {
	height: 148px;
}

#spanbackimg {
	width: 214px;
}

#spanfrontimg {
	height: 148px;
}

#spanfrontimg {
	width: 214px;
}

#spanbackimg {
	height: 150px;
}

#spanbackimg {
	width: 216px;
}

#spanfrontimg {
	height: 150px;
}

#spanfrontimg {
	width: 216px;
}

#spanbackimg {
	height: 154px;
}

#spanbackimg {
	width: 238px;
}

#spanfrontimg {
	width: 238px;
}

#spanbackimg {
	height: 154px;
}

#spanbackimg {
	width: 246px;
}

#spanfrontimg {
	width: 246px;
}

#spanbackimg {
	height: 154px;
}

#spanbackimg {
	width: 280px;
}

#spanfrontimg {
	width: 280px;
}

#spanbackimg {
	height: 154px;
}

#spanbackimg {
	width: 282px;
}

#spanfrontimg {
	height: 154px;
}

#spanfrontimg {
	width: 282px;
}

#spanbackimg {
	height: 156px;
}

#spanbackimg {
	width: 280px;
}

#spanfrontimg {
	height: 156px;
}

#spanfrontimg {
	width: 280px;
}

#spanbackimg {
	height: 158px;
}

#spanbackimg {
	width: 278px;
}

#spanfrontimg {
	height: 158px;
}

#spanbackimg {
	height: 160px;
}

#spanbackimg {
	width: 278px;
}

#spanfrontimg {
	height: 160px;
}

#spanbackimg {
	height: 158px;
}

#spanbackimg {
	width: 278px;
}

#spanfrontimg {
	height: 158px;
}

#spanfrontimg {
	width: 278px;
}

#spanbackimg {
	height: 154px;
}

#spanbackimg {
	width: 274px;
}

#spanfrontimg {
	height: 154px;
}

#spanfrontimg {
	width: 274px;
}

#spanbackimg {
	height: 146px;
}

#spanbackimg {
	width: 268px;
}

#spanfrontimg {
	height: 146px;
}

#spanfrontimg {
	width: 268px;
}

#spanbackimg {
	height: 144px;
}

#spanbackimg {
	width: 260px;
}

#spanfrontimg {
	height: 144px;
}

#spanfrontimg {
	width: 260px;
}

#spanbackimg {
	height: 146px;
}

#spanbackimg {
	width: 258px;
}

#spanfrontimg {
	width: 258px;
}

#spanbackimg {
	height: 146px;
}

#spanbackimg {
	width: 256px;
}

#spanfrontimg {
	width: 256px;
}

#spanbackimg {
	height: 146px;
}

#spanbackimg {
	width: 248px;
}

#spanfrontimg {
	height: 146px;
}

#spanfrontimg {
	width: 248px;
}

#spanbackimg {
	height: 148px;
}

#spanbackimg {
	width: 238px;
}

#spanfrontimg {
	width: 238px;
}

#spanbackimg {
	height: 148px;
}

#spanbackimg {
	width: 224px;
}

#spanfrontimg {
	height: 148px;
}

#spanfrontimg {
	width: 224px;
}

#spanbackimg {
	height: 150px;
}

#spanbackimg {
	width: 214px;
}

#spanfrontimg {
	width: 214px;
}

#spanbackimg {
	height: 150px;
}

#spanbackimg {
	width: 210px;
}

#spanfrontimg {
	width: 210px;
}

#spanbackimg {
	height: 150px;
}

#spanbackimg {
	width: 204px;
}

#spanfrontimg {
	width: 204px;
}

#spanbackimg {
	height: 150px;
}

#spanbackimg {
	width: 200px;
}

#spanfrontimg {
	width: 200px;
}

#spanbackimg {
	height: 150px;
}

#spanbackimg {
	width: 192px;
}

#spanfrontimg {
	height: 150px;
}

#spanfrontimg {
	width: 192px;
}

#spanbackimg {
	height: 158px;
}

#spanbackimg {
	width: 182px;
}

#spanfrontimg {
	height: 158px;
}

#spanbackimg {
	height: 160px;
}

#spanbackimg {
	width: 182px;
}

#spanfrontimg {
	height: 160px;
}

#spanfrontimg {
	width: 182px;
}

#spanbackimg {
	height: 154px;
}

#spanbackimg {
	width: 228px;
}

#spanfrontimg {
	height: 154px;
}

#spanfrontimg {
	width: 228px;
}

#spanbackimg {
	height: 150px;
}

#spanbackimg {
	width: 258px;
}

#spanfrontimg {
	height: 150px;
}

#spanfrontimg {
	width: 258px;
}

#spanbackimg {
	height: 148px;
}

#spanbackimg {
	width: 276px;
}

#spanfrontimg {
	width: 276px;
}

#spanbackimg {
	height: 148px;
}

#spanbackimg {
	width: 282px;
}

#spanfrontimg {
	width: 282px;
}

#spanbackimg {
	height: 148px;
}

#spanbackimg {
	width: 288px;
}

#spanfrontimg {
	width: 288px;
}

#spanbackimg {
	height: 148px;
}

#spanbackimg {
	width: 314px;
}

#spanfrontimg {
	height: 148px;
}

#spanfrontimg {
	width: 314px;
}

#spanbackimg {
	height: 146px;
}

#spanbackimg {
	width: 328px;
}

#spanfrontimg {
	height: 146px;
}

#spanfrontimg {
	width: 328px;
}

#spanbackimg {
	height: 144px;
}

#spanbackimg {
	width: 338px;
}

#spanfrontimg {
	height: 144px;
}

#spanfrontimg {
	width: 338px;
}

#spanbackimg {
	height: 136px;
}

#spanbackimg {
	width: 354px;
}

#spanfrontimg {
	width: 354px;
}

#spanbackimg {
	height: 136px;
}

#spanbackimg {
	width: 358px;
}

#spanfrontimg {
	width: 358px;
}

#spanbackimg {
	height: 136px;
}

#spanbackimg {
	width: 366px;
}

#spanfrontimg {
	width: 366px;
}

#spanbackimg {
	height: 136px;
}

#spanbackimg {
	width: 376px;
}

#spanfrontimg {
	height: 136px;
}

#spanfrontimg {
	width: 376px;
}

#spanbackimg {
	height: 140px;
}

#spanbackimg {
	width: 392px;
}

#spanfrontimg {
	height: 140px;
}

#spanfrontimg {
	width: 392px;
}

#spanbackimg {
	height: 142px;
}

#spanbackimg {
	width: 404px;
}

#spanfrontimg {
	width: 404px;
}

#spanbackimg {
	height: 142px;
}

#spanbackimg {
	width: 410px;
}

#spanfrontimg {
	width: 410px;
}

#spanbackimg {
	height: 142px;
}

#spanbackimg {
	width: 414px;
}

#spanfrontimg {
	height: 142px;
}

#spanfrontimg {
	width: 414px;
}

#spanbackimg {
	height: 144px;
}

#spanbackimg {
	width: 416px;
}

#spanfrontimg {
	height: 144px;
}

#spanfrontimg {
	width: 416px;
}

#spanbackimg {
	height: 146px;
}

#spanbackimg {
	width: 422px;
}

#spanfrontimg {
	width: 422px;
}

#spanbackimg {
	height: 146px;
}

#spanbackimg {
	width: 426px;
}

#spanfrontimg {
	width: 426px;
}

#spanbackimg {
	height: 146px;
}

#spanbackimg {
	width: 430px;
}

#spanfrontimg {
	height: 146px;
}

#spanfrontimg {
	width: 430px;
}

#spantext1568 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	color: rgb(127, 127, 127);
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	left: 22px;
	top: 94px;
}

#spantext1567 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	color: rgb(127, 127, 127);
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	left: 32px;
	top: 56px;
}

#spantext156 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	color: rgb(127, 127, 127);
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	left: 22px;
	top: 46px;
}

#spantext4 {
	position: absolute;
	color: black;
	font-family: Helvetica Neue;
	font-size: 10pt;
}

#spantext2 {
	position: absolute;
	font-family: Helvetica Neue;
	left: 22px;
	top: 19px;
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	font-size: 23.3333px;
	color: rgb(191, 191, 191);
}

#spantext5 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	color: rgb(127, 127, 127);
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	left: 22px;
	top: 51px;
}

#spantext1 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	color: rgb(127, 127, 127);
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	top: 109px;
	left: 22px;
}

#spanfront {
	display: block;
}

#spanscrollview3 {
	position: absolute;
	top: 6px;
	right: 0px;
	bottom: 6px;
	width: 19px;
	-apple-dashboard-region: dashboard-region(control rectangle    );
}

#spanscrollview2 {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 22px;
	overflow: hidden;
}

#spanscrollview {
	position: absolute;
	top: 28px;
	left: 100px;
	height: 94px;
	width: 174px;
}

#spantext {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 23.3333px;
	color: rgb(127, 127, 127);
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	left: 24px;
	top: 22px;
}

#spanhellotext {
	top: 57px;
}

#spanhellotext {
	left: 337px;
}

#spanhellotext {
	top: 58px;
}

#spanhellotext {
	top: 59px;
}

#spanhellotext {
	left: 338px;
}

#spanhellotext {
	top: 61px;
}

#spanhellotext {
	left: 335px;
}

#spanhellotext {
	top: 63px;
}

#spanhellotext {
	left: 326px;
}

#spanhellotext {
	top: 71px;
}

#spanhellotext {
	left: 321px;
}

#spanhellotext {
	left: 320px;
}

#spanhellotext {
	left: 319px;
}

#spanhellotext {
	left: 314px;
}

#spanhellotext {
	top: 74px;
}

#spanhellotext {
	left: 294px;
}

#spanhellotext {
	top: 73px;
}

#spanhellotext {
	left: 248px;
}

#spanhellotext {
	top: 67px;
}

#spanhellotext {
	left: 201px;
}

#spanhellotext {
	top: 59px;
}

#spanhellotext {
	left: 141px;
}

#spanhellotext {
	top: 49px;
}

#spanhellotext {
	left: 91px;
}

#spanhellotext {
	top: 42px;
}

#spanhellotext {
	left: 50px;
}

#spanhellotext {
	top: 34px;
}

#spanhellotext {
	left: 36px;
}

#spanhellotext {
	top: 30px;
}

#spanhellotext {
	top: 28px;
}

#spanhellotext {
	top: 27px;
}

#spanfrontimg {
	left: 1px;
}

#spanfrontimg {
	top: -1px;
}

#spanhellotext {
	left: 30px;
}

#spanhellotext {
	top: 26px;
}

#spanhellotext {
	left: 31px;
}

#spanhellotext {
	left: 32px;
}

#spanhellotext {
	left: 33px;
}

#spanhellotext {
	left: 34px;
}

#spanhellotext {
	left: 35px;
}

#spanhellotext {
	left: 36px;
}

#spanhellotext {
	top: 27px;
}

#spanhellotext {
	top: 28px;
}

#spanhellotext {
	left: 39px;
}

#spanhellotext {
	top: 29px;
}

#spanhellotext {
	left: 43px;
}

#spanhellotext {
	top: 30px;
}

#spanhellotext {
	left: 44px;
}

#spanhellotext {
	left: 45px;
}

#spanhellotext {
	top: 31px;
}

#spanhellotext {
	left: 46px;
}

#spanhellotext {
	top: 32px;
}

#spanhellotext {
	left: 49px;
}

#spanhellotext {
	top: 35px;
}

#spanhellotext {
	left: 55px;
}

#spanhellotext {
	top: 42px;
}

#spanhellotext {
	left: 57px;
}

#spanhellotext {
	top: 46px;
}

#spanhellotext {
	left: 59px;
}

#spanhellotext {
	top: 48px;
}

#spanhellotext {
	left: 61px;
}

#spanhellotext {
	top: 50px;
}

#spanhellotext {
	left: 64px;
}

#spanhellotext {
	top: 52px;
}

#spanhellotext {
	left: 65px;
}

#spanhellotext {
	top: 54px;
}

#spanhellotext {
	left: 67px;
}

#spanhellotext {
	left: 68px;
}

#spanhellotext {
	left: 69px;
}

#spanhellotext {
	left: 70px;
}

#spanhellotext {
	left: 71px;
}

#spanhellotext {
	left: 72px;
}

#spanbackimg {
	height: 146px;
}

#spanbackimg {
	width: 432px;
}

#spanfrontimg {
	height: 146px;
}

#spanfrontimg {
	width: 432px;
}

#spanbackimg {
	height: 152px;
}

#spanbackimg {
	width: 436px;
}

#spanfrontimg {
	height: 152px;
}

#spanfrontimg {
	width: 436px;
}

#spanbackimg {
	height: 168px;
}

#spanbackimg {
	width: 444px;
}

#spanfrontimg {
	height: 168px;
}

#spanfrontimg {
	width: 444px;
}

#spanbackimg {
	height: 198px;
}

#spanbackimg {
	width: 458px;
}

#spanfrontimg {
	height: 198px;
}

#spanfrontimg {
	width: 458px;
}

#spanbackimg {
	height: 208px;
}

#spanbackimg {
	width: 462px;
}

#spanfrontimg {
	height: 208px;
}

#spanbackimg {
	height: 212px;
}

#spanbackimg {
	width: 462px;
}

#spanfrontimg {
	height: 212px;
}

#spanfrontimg {
	width: 462px;
}

#spanbackimg {
	height: 222px;
}

#spanbackimg {
	width: 456px;
}

#spanfrontimg {
	height: 222px;
}

#spanfrontimg {
	width: 456px;
}

#spanbackimg {
	height: 240px;
}

#spanbackimg {
	width: 444px;
}

#spanfrontimg {
	height: 240px;
}

#spanfrontimg {
	width: 444px;
}

#spanbackimg {
	height: 244px;
}

#spanbackimg {
	width: 438px;
}

#spanfrontimg {
	width: 438px;
}

#spanbackimg {
	height: 244px;
}

#spanbackimg {
	width: 434px;
}

#spanfrontimg {
	width: 434px;
}

#spanbackimg {
	height: 244px;
}

#spanbackimg {
	width: 432px;
}

#spanfrontimg {
	width: 432px;
}

#spanbackimg {
	height: 244px;
}

#spanbackimg {
	width: 426px;
}

#spanfrontimg {
	width: 426px;
}

#spanbackimg {
	height: 244px;
}

#spanbackimg {
	width: 424px;
}

#spanfrontimg {
	width: 424px;
}

#spanbackimg {
	height: 244px;
}

#spanbackimg {
	width: 422px;
}

#spanfrontimg {
	height: 244px;
}

#spanfrontimg {
	width: 422px;
}

#spanbackimg {
	height: 246px;
}

#spanbackimg {
	width: 418px;
}

#spanfrontimg {
	height: 246px;
}

#spanfrontimg {
	width: 418px;
}

#spanbackimg {
	height: 254px;
}

#spanbackimg {
	width: 416px;
}

#spanfrontimg {
	height: 254px;
}

#spanfrontimg {
	width: 416px;
}

#spanbackimg {
	height: 258px;
}

#spanbackimg {
	width: 414px;
}

#spanfrontimg {
	height: 258px;
}

#spanbackimg {
	height: 260px;
}

#spanbackimg {
	width: 414px;
}

#spanfrontimg {
	height: 260px;
}

#spanfrontimg {
	width: 414px;
}

#spanbackimg {
	height: 264px;
}

#spanbackimg {
	width: 402px;
}

#spanfrontimg {
	height: 264px;
}

#spanfrontimg {
	width: 402px;
}

#spanbackimg {
	height: 272px;
}

#spanbackimg {
	width: 364px;
}

#spanfrontimg {
	height: 272px;
}

#spanfrontimg {
	width: 364px;
}

#spanbackimg {
	height: 276px;
}

#spanbackimg {
	width: 338px;
}

#spanfrontimg {
	width: 338px;
}

#spanbackimg {
	height: 276px;
}

#spanbackimg {
	width: 318px;
}

#spanfrontimg {
	height: 276px;
}

#spanfrontimg {
	width: 318px;
}

#spanbackimg {
	height: 278px;
}

#spanbackimg {
	width: 296px;
}

#spanfrontimg {
	width: 296px;
}

#spanbackimg {
	height: 278px;
}

#spanbackimg {
	width: 278px;
}

#spanfrontimg {
	width: 278px;
}

#spanbackimg {
	height: 278px;
}

#spanbackimg {
	width: 266px;
}

#spanfrontimg {
	width: 266px;
}

#spanbackimg {
	height: 278px;
}

#spanbackimg {
	width: 258px;
}

#spanfrontimg {
	height: 278px;
}

#spanfrontimg {
	width: 258px;
}

#spanbackimg {
	height: 276px;
}

#spanbackimg {
	width: 250px;
}

#spanfrontimg {
	width: 250px;
}

#spanbackimg {
	height: 276px;
}

#spanbackimg {
	width: 246px;
}

#spanfrontimg {
	width: 246px;
}

#spanbackimg {
	height: 276px;
}

#spanbackimg {
	width: 242px;
}

#spanfrontimg {
	width: 242px;
}

#spanbackimg {
	height: 276px;
}

#spanbackimg {
	width: 240px;
}

#spanfrontimg {
	width: 240px;
}

#spanbackimg {
	height: 276px;
}

#spanbackimg {
	width: 238px;
}

#spanfrontimg {
	height: 276px;
}

#spanbackimg {
	height: 274px;
}

#spanbackimg {
	width: 238px;
}

#spanfrontimg {
	width: 238px;
}

#spanhellotext {
	position: absolute;
	left: 73px;
	top: 55px;
	right: 73px;
	width: 91px;
	color: black;
	font-family: Helvetica Neue Bold;
	font-size: 11pt;
	font-weight: bold;
}

#spanbackimg {
	position: absolute;
	display: block;
}

#spanback {
	height: 144px;
	display: none;
}

#spanfrontimg {
	position: absolute;
	display: block;
}

#text3 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	top: 62px;
	left: 22px;
	color: rgb(39, 42, 58);
	text-shadow: rgb(114, 113, 134) 2px 2px 0px;
}

#backimg {
	background-color: rgb(0, 0, 0);
}

#backimg {
	background-color: rgba(0, 0, 0, 0);
}

#backimg {
}

#text21 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 23.3333px;
	color: rgb(78, 69, 77);
	text-shadow: rgb(162, 156, 75) 2px 2px 0px;
	top: 21px;
	left: 24px;
}

#frontimg {
	background-color: rgb(0, 0, 0);
}

#frontimg {
	background-color: rgba(0, 0, 0, 0);
}

#frontimg {
	height: 143px;
}

#frontimg {
	height: 104px;
}

#frontimg {
	height: 143px;
}

#frontimg {
	height: 144px;
}

#frontimg {
	background-color: rgb(0, 0, 0);
}

#frontimg {
	background-color: rgba(0, 0, 0, 0);
}

#box {
	position: absolute;
	border-color: black;
	border-width: 1px;
	left: 97px;
	height: 99px;
	top: 21px;
	width: 186px;
}

