body {
	margin: 0px;
}

#frontimg {
	position: absolute;
	display: block;
}

.info {
	position: absolute;
	right: 15px;
	bottom: 18px;
	width: 13px;
	height: 13px;
}

#back {
	top: -4px;
	left: -5px;
	display: none;
}

#backimg {
	position: absolute;
	display: block;
}

#hellotext {
	position: absolute;
	left: 73px;
	top: 55px;
	right: 73px;
	width: 91px;
	color: black;
	font-family: Helvetica Neue Bold;
	font-size: 11pt;
	font-weight: bold;
}

.backDevelopedWith {
	position: absolute;
	top: 69px;
	left: 53px;
	right: 53px;
	margin-left: auto;
	margin-right: auto;
}

#hellotext {
	top: 54px;
}

#hellotext {
	left: 72px;
}

#frontimg {
	height: 272px;
}

#backimg {
	width: 236px;
}

#backimg {
	height: 272px;
}

#frontimg {
	height: 262px;
}

#backimg {
	width: 236px;
}

#backimg {
	height: 262px;
}

#frontimg {
	width: 238px;
}

#frontimg {
	height: 254px;
}

#backimg {
	width: 238px;
}

#backimg {
	height: 254px;
}

#frontimg {
	height: 246px;
}

#backimg {
	width: 238px;
}

#backimg {
	height: 246px;
}

#frontimg {
	height: 244px;
}

#backimg {
	width: 238px;
}

#backimg {
	height: 244px;
}

#frontimg {
	height: 240px;
}

#backimg {
	width: 238px;
}

#backimg {
	height: 240px;
}

#frontimg {
	height: 238px;
}

#backimg {
	width: 238px;
}

#backimg {
	height: 238px;
}

#frontimg {
	height: 234px;
}

#backimg {
	width: 238px;
}

#backimg {
	height: 234px;
}

#frontimg {
	height: 232px;
}

#backimg {
	width: 238px;
}

#backimg {
	height: 232px;
}

#frontimg {
	height: 230px;
}

#backimg {
	width: 238px;
}

#backimg {
	height: 230px;
}

#frontimg {
	height: 228px;
}

#backimg {
	width: 238px;
}

#backimg {
	height: 228px;
}

#frontimg {
	width: 236px;
}

#frontimg {
	height: 226px;
}

#backimg {
	width: 236px;
}

#backimg {
	height: 226px;
}

#frontimg {
	width: 232px;
}

#backimg {
	width: 232px;
}

#backimg {
	height: 226px;
}

#frontimg {
	width: 230px;
}

#backimg {
	width: 230px;
}

#backimg {
	height: 226px;
}

#frontimg {
	width: 226px;
}

#frontimg {
	height: 228px;
}

#backimg {
	width: 226px;
}

#backimg {
	height: 228px;
}

#frontimg {
	width: 222px;
}

#frontimg {
	height: 234px;
}

#backimg {
	width: 222px;
}

#backimg {
	height: 234px;
}

#frontimg {
	width: 220px;
}

#frontimg {
	height: 236px;
}

#backimg {
	width: 220px;
}

#backimg {
	height: 236px;
}

#frontimg {
	height: 238px;
}

#backimg {
	width: 220px;
}

#backimg {
	height: 238px;
}

#frontimg {
	width: 222px;
}

#backimg {
	width: 222px;
}

#backimg {
	height: 238px;
}

#frontimg {
	width: 228px;
}

#backimg {
	width: 228px;
}

#backimg {
	height: 238px;
}

#frontimg {
	width: 230px;
}

#backimg {
	width: 230px;
}

#backimg {
	height: 238px;
}

#frontimg {
	height: 236px;
}

#backimg {
	width: 230px;
}

#backimg {
	height: 236px;
}

#frontimg {
	height: 230px;
}

#backimg {
	width: 230px;
}

#backimg {
	height: 230px;
}

#frontimg {
	height: 226px;
}

#backimg {
	width: 230px;
}

#backimg {
	height: 226px;
}

#frontimg {
	height: 222px;
}

#backimg {
	width: 230px;
}

#backimg {
	height: 222px;
}

#frontimg {
	height: 220px;
}

#backimg {
	width: 230px;
}

#backimg {
	height: 220px;
}

#frontimg {
	height: 218px;
}

#backimg {
	width: 230px;
}

#backimg {
	height: 218px;
}

#frontimg {
	height: 216px;
}

#backimg {
	width: 230px;
}

#backimg {
	height: 216px;
}

#frontimg {
	height: 218px;
}

#backimg {
	width: 230px;
}

#backimg {
	height: 218px;
}

#frontimg {
	height: 220px;
}

#backimg {
	width: 230px;
}

#backimg {
	height: 220px;
}

#frontimg {
	width: 228px;
}

#backimg {
	width: 228px;
}

#backimg {
	height: 220px;
}

#frontimg {
	height: 222px;
}

#backimg {
	width: 228px;
}

#backimg {
	height: 222px;
}

#frontimg {
	height: 226px;
}

#backimg {
	width: 228px;
}

#backimg {
	height: 226px;
}

#frontimg {
	width: 226px;
}

#backimg {
	width: 226px;
}

#backimg {
	height: 226px;
}

#frontimg {
	width: 224px;
}

#frontimg {
	height: 228px;
}

#backimg {
	width: 224px;
}

#backimg {
	height: 228px;
}

#frontimg {
	width: 226px;
}

#backimg {
	width: 226px;
}

#backimg {
	height: 228px;
}

#frontimg {
	width: 228px;
}

#backimg {
	width: 228px;
}

#backimg {
	height: 228px;
}

#frontimg {
	width: 234px;
}

#backimg {
	width: 234px;
}

#backimg {
	height: 228px;
}

#frontimg {
	width: 236px;
}

#backimg {
	width: 236px;
}

#backimg {
	height: 228px;
}

#frontimg {
	width: 238px;
}

#backimg {
	width: 238px;
}

#backimg {
	height: 228px;
}

#frontimg {
	width: 240px;
}

#backimg {
	width: 240px;
}

#backimg {
	height: 228px;
}

#frontimg {
	height: 230px;
}

#backimg {
	width: 240px;
}

#backimg {
	height: 230px;
}

#frontimg {
	height: 232px;
}

#backimg {
	width: 240px;
}

#backimg {
	height: 232px;
}

#frontimg {
	height: 234px;
}

#backimg {
	width: 240px;
}

#backimg {
	height: 234px;
}

#info {
	left: 189px;
	top: 218px;
}

#sccubeinfo {
	top: 208px;
	left: 224px;
}

#sccubebackimg {
	height: 234px;
}

#sccubebackimg {
	width: 240px;
}

#sccubefrontimg {
	height: 234px;
}

#sccubebackimg {
	height: 232px;
}

#sccubebackimg {
	width: 240px;
}

#sccubefrontimg {
	height: 232px;
}

#sccubebackimg {
	height: 230px;
}

#sccubebackimg {
	width: 240px;
}

#sccubefrontimg {
	height: 230px;
}

#sccubebackimg {
	height: 228px;
}

#sccubebackimg {
	width: 240px;
}

#sccubefrontimg {
	width: 240px;
}

#sccubebackimg {
	height: 228px;
}

#sccubebackimg {
	width: 238px;
}

#sccubefrontimg {
	width: 238px;
}

#sccubebackimg {
	height: 228px;
}

#sccubebackimg {
	width: 236px;
}

#sccubefrontimg {
	width: 236px;
}

#sccubebackimg {
	height: 228px;
}

#sccubebackimg {
	width: 234px;
}

#sccubefrontimg {
	width: 234px;
}

#sccubebackimg {
	height: 228px;
}

#sccubebackimg {
	width: 228px;
}

#sccubefrontimg {
	width: 228px;
}

#sccubebackimg {
	height: 228px;
}

#sccubebackimg {
	width: 226px;
}

#sccubefrontimg {
	width: 226px;
}

#sccubebackimg {
	height: 228px;
}

#sccubebackimg {
	width: 224px;
}

#sccubefrontimg {
	height: 228px;
}

#sccubefrontimg {
	width: 224px;
}

#sccubebackimg {
	height: 226px;
}

#sccubebackimg {
	width: 226px;
}

#sccubefrontimg {
	width: 226px;
}

#sccubebackimg {
	height: 226px;
}

#sccubebackimg {
	width: 228px;
}

#sccubefrontimg {
	height: 226px;
}

#sccubebackimg {
	height: 222px;
}

#sccubebackimg {
	width: 228px;
}

#sccubefrontimg {
	height: 222px;
}

#sccubebackimg {
	height: 220px;
}

#sccubebackimg {
	width: 228px;
}

#sccubefrontimg {
	width: 228px;
}

#sccubebackimg {
	height: 220px;
}

#sccubebackimg {
	width: 230px;
}

#sccubefrontimg {
	height: 220px;
}

#sccubebackimg {
	height: 218px;
}

#sccubebackimg {
	width: 230px;
}

#sccubefrontimg {
	height: 218px;
}

#sccubebackimg {
	height: 216px;
}

#sccubebackimg {
	width: 230px;
}

#sccubefrontimg {
	height: 216px;
}

#sccubebackimg {
	height: 218px;
}

#sccubebackimg {
	width: 230px;
}

#sccubefrontimg {
	height: 218px;
}

#sccubebackimg {
	height: 220px;
}

#sccubebackimg {
	width: 230px;
}

#sccubefrontimg {
	height: 220px;
}

#sccubebackimg {
	height: 222px;
}

#sccubebackimg {
	width: 230px;
}

#sccubefrontimg {
	height: 222px;
}

#sccubebackimg {
	height: 226px;
}

#sccubebackimg {
	width: 230px;
}

#sccubefrontimg {
	height: 226px;
}

#sccubebackimg {
	height: 230px;
}

#sccubebackimg {
	width: 230px;
}

#sccubefrontimg {
	height: 230px;
}

#sccubebackimg {
	height: 236px;
}

#sccubebackimg {
	width: 230px;
}

#sccubefrontimg {
	height: 236px;
}

#sccubebackimg {
	height: 238px;
}

#sccubebackimg {
	width: 230px;
}

#sccubefrontimg {
	width: 230px;
}

#sccubebackimg {
	height: 238px;
}

#sccubebackimg {
	width: 228px;
}

#sccubefrontimg {
	width: 228px;
}

#sccubebackimg {
	height: 238px;
}

#sccubebackimg {
	width: 222px;
}

#sccubefrontimg {
	width: 222px;
}

#sccubebackimg {
	height: 238px;
}

#sccubebackimg {
	width: 220px;
}

#sccubefrontimg {
	height: 238px;
}

#sccubebackimg {
	height: 236px;
}

#sccubebackimg {
	width: 220px;
}

#sccubefrontimg {
	height: 236px;
}

#sccubefrontimg {
	width: 220px;
}

#sccubebackimg {
	height: 234px;
}

#sccubebackimg {
	width: 222px;
}

#sccubefrontimg {
	height: 234px;
}

#sccubefrontimg {
	width: 222px;
}

#sccubebackimg {
	height: 228px;
}

#sccubebackimg {
	width: 226px;
}

#sccubefrontimg {
	height: 228px;
}

#sccubefrontimg {
	width: 226px;
}

#sccubebackimg {
	height: 226px;
}

#sccubebackimg {
	width: 230px;
}

#sccubefrontimg {
	width: 230px;
}

#sccubebackimg {
	height: 226px;
}

#sccubebackimg {
	width: 232px;
}

#sccubefrontimg {
	width: 232px;
}

#sccubebackimg {
	height: 226px;
}

#sccubebackimg {
	width: 236px;
}

#sccubefrontimg {
	height: 226px;
}

#sccubefrontimg {
	width: 236px;
}

#sccubebackimg {
	height: 228px;
}

#sccubebackimg {
	width: 238px;
}

#sccubefrontimg {
	height: 228px;
}

#sccubebackimg {
	height: 230px;
}

#sccubebackimg {
	width: 238px;
}

#sccubefrontimg {
	height: 230px;
}

#sccubebackimg {
	height: 232px;
}

#sccubebackimg {
	width: 238px;
}

#sccubefrontimg {
	height: 232px;
}

#sccubebackimg {
	height: 234px;
}

#sccubebackimg {
	width: 238px;
}

#sccubefrontimg {
	height: 234px;
}

#sccubebackimg {
	height: 238px;
}

#sccubebackimg {
	width: 238px;
}

#sccubefrontimg {
	height: 238px;
}

#sccubebackimg {
	height: 240px;
}

#sccubebackimg {
	width: 238px;
}

#sccubefrontimg {
	height: 240px;
}

#sccubebackimg {
	height: 244px;
}

#sccubebackimg {
	width: 238px;
}

#sccubefrontimg {
	height: 244px;
}

#sccubebackimg {
	height: 246px;
}

#sccubebackimg {
	width: 238px;
}

#sccubefrontimg {
	height: 246px;
}

#sccubebackimg {
	height: 254px;
}

#sccubebackimg {
	width: 238px;
}

#sccubefrontimg {
	height: 254px;
}

#sccubefrontimg {
	width: 238px;
}

#sccubebackimg {
	height: 262px;
}

#sccubebackimg {
	width: 236px;
}

#sccubefrontimg {
	height: 262px;
}

#sccubebackimg {
	height: 272px;
}

#sccubebackimg {
	width: 236px;
}

#sccubefrontimg {
	height: 272px;
}

#sccubehellotext {
	left: 72px;
}

#sccubehellotext {
	top: 54px;
}

#sccubehellotext {
	position: absolute;
	left: 73px;
	top: 55px;
	right: 73px;
	width: 91px;
	color: black;
	font-family: Helvetica Neue Bold;
	font-size: 11pt;
	font-weight: bold;
}

#sccubedone {
	position: absolute;
	right: 18px;
	bottom: 22px;
}

#sccubebackimg {
	position: absolute;
	display: block;
}

#sccubeback {
	display: none;
}

#sccubefrontimg {
	position: absolute;
	display: block;
}

#frontimg {
	width: 242px;
}

#frontimg {
	height: 234px;
}

#backimg {
	width: 242px;
}

#backimg {
	height: 234px;
}

#frontimg {
	width: 334px;
}

#frontimg {
	height: 324px;
}

#backimg {
	width: 334px;
}

#backimg {
	height: 324px;
}

#frontimg {
	width: 346px;
}

#frontimg {
	height: 332px;
}

#backimg {
	width: 346px;
}

#backimg {
	height: 332px;
}

#backimg {
}

#backimg {
}

#frontimg {
	height: 324px;
}

#frontimg {
	width: 334px;
}

#backimg {
	width: 334px;
}

#backimg {
	height: 324px;
}

#backimg {
}

#backimg {
}

#frontimg {
	height: 234px;
}

#frontimg {
	width: 242px;
}

#backimg {
	width: 242px;
}

#backimg {
	height: 234px;
}

#backimg {
}

#backimg {
}

#frontimg {
	height: 235px;
}

#frontimg {
	width: 240px;
}

#frontimg {
	height: 234px;
}

#backimg {
	width: 240px;
}

#backimg {
	height: 234px;
}

#frontimg {
	height: 236px;
}

#backimg {
	width: 240px;
}

#backimg {
	height: 236px;
}

#frontimg {
	width: 234px;
}

#frontimg {
	height: 282px;
}

#backimg {
	width: 234px;
}

#backimg {
	height: 282px;
}

#frontimg {
	height: 290px;
}

#backimg {
	width: 234px;
}

#backimg {
	height: 290px;
}

#frontimg {
	width: 232px;
}

#backimg {
	width: 232px;
}

#backimg {
	height: 290px;
}

#frontimg {
	width: 190px;
}

#frontimg {
	height: 294px;
}

#backimg {
	width: 190px;
}

#backimg {
	height: 294px;
}

#frontimg {
	width: 172px;
}

#backimg {
	width: 172px;
}

#backimg {
	height: 294px;
}

#frontimg {
	width: 118px;
}

#frontimg {
	height: 292px;
}

#backimg {
	width: 118px;
}

#backimg {
	height: 292px;
}

#frontimg {
	width: 120px;
}

#backimg {
	width: 120px;
}

#backimg {
	height: 292px;
}

#frontimg {
	width: 142px;
}

#frontimg {
	height: 290px;
}

#backimg {
	width: 142px;
}

#backimg {
	height: 290px;
}

#frontimg {
	width: 152px;
}

#backimg {
	width: 152px;
}

#backimg {
	height: 290px;
}

#frontimg {
	width: 160px;
}

#frontimg {
	height: 288px;
}

#backimg {
	width: 160px;
}

#backimg {
	height: 288px;
}

#frontimg {
	width: 194px;
}

#frontimg {
	height: 282px;
}

#backimg {
	width: 194px;
}

#backimg {
	height: 282px;
}

#frontimg {
	width: 196px;
}

#frontimg {
	height: 280px;
}

#backimg {
	width: 196px;
}

#backimg {
	height: 280px;
}

#frontimg {
	width: 208px;
}

#frontimg {
	height: 278px;
}

#backimg {
	width: 208px;
}

#backimg {
	height: 278px;
}

#frontimg {
	height: 280px;
}

#backimg {
	width: 208px;
}

#backimg {
	height: 280px;
}

#frontimg {
	width: 184px;
}

#frontimg {
	height: 288px;
}

#backimg {
	width: 184px;
}

#backimg {
	height: 288px;
}

#frontimg {
	width: 182px;
}

#backimg {
	width: 182px;
}

#backimg {
	height: 288px;
}

#frontimg {
	width: 180px;
}

#backimg {
	width: 180px;
}

#backimg {
	height: 288px;
}

#frontimg {
	width: 178px;
}

#backimg {
	width: 178px;
}

#backimg {
	height: 288px;
}

#frontimg {
	width: 179px;
}

#frontimg {
	width: 182px;
}

#frontimg {
	width: 185px;
}

#frontimg {
	width: 188px;
}

#frontimg {
	width: 180px;
}

#backimg {
	width: 180px;
}

#backimg {
	height: 288px;
}

#frontimg {
	width: 190px;
}

#backimg {
	width: 190px;
}

#backimg {
	height: 288px;
}

#frontimg {
	width: 188px;
}

#backimg {
	width: 188px;
}

#backimg {
	height: 288px;
}

#frontimg {
	width: 174px;
}

#frontimg {
	height: 272px;
}

#backimg {
	width: 174px;
}

#backimg {
	height: 272px;
}

#frontimg {
	height: 270px;
}

#backimg {
	width: 174px;
}

#backimg {
	height: 270px;
}

#frontimg {
	width: 178px;
}

#frontimg {
	height: 224px;
}

#backimg {
	width: 178px;
}

#backimg {
	height: 224px;
}

#frontimg {
	width: 194px;
}

#frontimg {
	height: 222px;
}

#backimg {
	width: 194px;
}

#backimg {
	height: 222px;
}

#frontimg {
	height: 220px;
}

#backimg {
	width: 194px;
}

#backimg {
	height: 220px;
}

#frontimg {
	width: 196px;
}

#frontimg {
	height: 218px;
}

#backimg {
	width: 196px;
}

#backimg {
	height: 218px;
}

#frontimg {
	width: 236px;
}

#frontimg {
	height: 134px;
}

#backimg {
	width: 236px;
}

#backimg {
	height: 134px;
}

#frontimg {
	width: 218px;
}

#frontimg {
	height: 110px;
}

#backimg {
	width: 218px;
}

#backimg {
	height: 110px;
}

#front {
	top: 9px;
	left: 11px;
	display: block;
}

#text {
	position: absolute;
	font-family: Helvetica Neue;
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	font-size: 20.3333px;
	color: rgb(255, 255, 255);
	top: 18px;
	left: 23px;
}

#text1 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	top: 106px;
	color: rgb(191, 191, 191);
	left: 26px;
}

#text2 {
	position: absolute;
	font-family: Helvetica Neue;
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	font-size: 12px;
	top: 121px;
	color: rgb(191, 191, 191);
	left: 26px;
}

#text3 {
	position: absolute;
	font-family: Helvetica Neue;
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	font-size: 15.3333px;
	top: 38px;
	color: rgb(255, 255, 255);
	left: 25px;
}

#frontimg {
	height: 112px;
}

#backimg {
	width: 218px;
}

#backimg {
	height: 112px;
}

#frontimg {
	width: 218px;
}

#frontimg {
	height: 128px;
}

#backimg {
	width: 218px;
}

#backimg {
	height: 128px;
}

#frontimg {
	height: 132px;
}

#backimg {
	width: 218px;
}

#backimg {
	height: 132px;
}

#frontimg {
	height: 134px;
}

#backimg {
	width: 218px;
}

#backimg {
	height: 134px;
}

#frontimg {
	width: 222px;
}

#frontimg {
	height: 206px;
}

#backimg {
	width: 222px;
}

#backimg {
	height: 206px;
}

#frontimg {
	height: 208px;
}

#backimg {
	width: 222px;
}

#backimg {
	height: 208px;
}

#frontimg {
	height: 210px;
}

#backimg {
	width: 222px;
}

#backimg {
	height: 210px;
}

#frontimg {
	height: 216px;
}

#backimg {
	width: 222px;
}

#backimg {
	height: 216px;
}

#frontimg {
	height: 218px;
}

#backimg {
	width: 222px;
}

#backimg {
	height: 218px;
}

#frontimg {
	height: 278px;
}

#backimg {
	width: 222px;
}

#backimg {
	height: 278px;
}

#frontimg {
	left: -2px;
}

#text35 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	text-shadow: rgb(0, 0, 0) 4px 4px 10px;
	color: rgb(0, 0, 0);
	left: 33px;
	top: 105px;
}

#text36 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	text-shadow: rgb(0, 0, 0) 4px 4px 10px;
	color: rgb(0, 0, 0);
	top: 122px;
	left: 33px;
}

#text37 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	text-shadow: rgb(0, 0, 0) 4px 4px 10px;
	color: rgb(0, 0, 0);
	top: 139px;
	left: 33px;
}

#text38 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	text-shadow: rgb(0, 0, 0) 4px 4px 10px;
	color: rgb(0, 0, 0);
	top: 156px;
	left: 33px;
}

#text39 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	text-shadow: rgb(0, 0, 0) 4px 4px 10px;
	color: rgb(0, 0, 0);
	top: 173px;
	left: 33px;
}

#text40 {
	position: absolute;
	color: black;
	font-family: Helvetica Neue;
	font-size: 10pt;
	text-shadow: rgb(0, 0, 0) 4px 4px 10px;
	top: 189px;
	left: 33px;
}

#text41 {
	position: absolute;
	color: black;
	font-family: Helvetica Neue;
	font-size: 10pt;
	text-shadow: rgb(0, 0, 0) 4px 4px 10px;
	top: 205px;
	left: 33px;
}

#frontimg {
	height: 276px;
}

#backimg {
	width: 222px;
}

#backimg {
	height: 276px;
}

#frontimg {
	width: 222px;
}

#frontimg {
	height: 244px;
}

#backimg {
	width: 222px;
}

#backimg {
	height: 244px;
}

#frontimg {
	width: 220px;
}

#frontimg {
	height: 236px;
}

#backimg {
	width: 220px;
}

#backimg {
	height: 236px;
}

#frontimg {
	height: 234px;
}

#backimg {
	width: 220px;
}

#backimg {
	height: 234px;
}

#frontimg {
	width: 218px;
}

#frontimg {
	height: 226px;
}

#backimg {
	width: 218px;
}

#backimg {
	height: 226px;
}

#frontimg {
	height: 228px;
}

#backimg {
	width: 218px;
}

#backimg {
	height: 228px;
}

#frontimg {
	height: 230px;
}

#backimg {
	width: 218px;
}

#backimg {
	height: 230px;
}

#frontimg {
	height: 232px;
}

#backimg {
	width: 218px;
}

#backimg {
	height: 232px;
}

#glassbutton {
	position: absolute;
	top: 213px;
	left: 155px;
}

#scrollview {
	position: absolute;
	width: 150px;
	height: 100px;
}

#text4 {
	position: absolute;
	color: rgb(127, 127, 127);
	font-family: Helvetica Neue;
	font-size: 10px;
	text-shadow: rgb(0, 0, 0) 1px 1px 0px;
	text-align: left;
	width: 127px;
	left: 23px;
	top: 201px;
}

#text6 {
	position: absolute;
	font-family: Helvetica Neue;
	color: rgb(127, 127, 127);
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	font-size: 20.3333px;
	top: 19px;
	left: 20px;
}

#button {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 13.3333px;
	left: 86px;
	text-shadow: rgb(127, 127, 127) 2px 2px 4px;
	top: 76px;
}

#button1 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 13.3333px;
	text-shadow: rgb(127, 127, 127) 2px 2px 4px;
	top: 49px;
	left: 33px;
}

#backimg {
	top: 1px;
}

#frontimg {
	width: 220px;
}

#frontimg {
	height: 232px;
}

#backimg {
	width: 220px;
}

#backimg {
	height: 232px;
}

#frontimg {
	width: 222px;
}

#frontimg {
	height: 252px;
}

#backimg {
	width: 222px;
}

#backimg {
	height: 252px;
}

#frontimg {
	width: 222px;
}

#frontimg {
	height: 256px;
}

#backimg {
	height: 256px;
}

#spanbackimg {
	height: 256px;
}

#spanfrontimg {
	height: 256px;
}

#spanfrontimg {
	width: 222px;
}

#spanbackimg {
	height: 252px;
}

#spanbackimg {
	width: 222px;
}

#spanfrontimg {
	height: 252px;
}

#spanfrontimg {
	width: 222px;
}

#spanbackimg {
	height: 232px;
}

#spanbackimg {
	width: 220px;
}

#spanfrontimg {
	height: 232px;
}

#spanfrontimg {
	width: 220px;
}

#spantext510 {
	position: absolute;
	text-align: center;
	text-shadow: rgb(0, 0, 0) 2px 2px 2px;
	font-family: Helvetica Neue;
	width: 137px;
	height: 25px;
	left: 42px;
	top: 202px;
	font-size: 10px;
	color: rgb(127, 127, 127);
}

#spantext89 {
	position: absolute;
	color: black;
	font-family: Helvetica Neue;
	height: 14px;
	width: 56px;
	text-align: center;
	font-size: 11px;
	left: 83px;
	top: 188px;
}

#spantext8 {
	position: absolute;
	color: black;
	font-family: Helvetica Neue;
	width: 166px;
	text-align: center;
	font-size: 11px;
	left: 29px;
	top: 139px;
}

#spanbackimg {
	top: 1px;
}

#spantext5 {
	position: absolute;
	text-align: center;
	width: 153px;
	color: rgb(127, 127, 127);
	text-shadow: rgb(0, 0, 0) 2px 2px 2px;
	font-family: Helvetica Neue;
	font-size: 10px;
	left: 38px;
	top: 175px;
}

#spanbutton1 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 13.3333px;
	text-shadow: rgb(127, 127, 127) 2px 2px 4px;
	top: 46px;
	left: 84px;
}

#spanbutton {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 13.3333px;
	left: 86px;
	text-shadow: rgb(127, 127, 127) 2px 2px 4px;
	top: 72px;
}

#spantext6 {
	position: absolute;
	font-family: Helvetica Neue;
	color: rgb(127, 127, 127);
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	font-size: 20.3333px;
	top: 19px;
	left: 20px;
}

#spantext4 {
	position: absolute;
	text-align: center;
	width: 169px;
	color: rgb(127, 127, 127);
	text-shadow: rgb(0, 0, 0) 2px 2px 2px;
	font-family: Helvetica Neue;
	font-size: 10px;
	left: 29px;
	top: 90px;
}

#spanscrollview {
	position: absolute;
	width: 150px;
	height: 100px;
}

#spanglassbutton {
	position: absolute;
	top: 65px;
	left: 148px;
}

#spanbackimg {
	height: 232px;
}

#spanbackimg {
	width: 218px;
}

#spanfrontimg {
	height: 232px;
}

#spanbackimg {
	height: 230px;
}

#spanbackimg {
	width: 218px;
}

#spanfrontimg {
	height: 230px;
}

#spanbackimg {
	height: 228px;
}

#spanbackimg {
	width: 218px;
}

#spanfrontimg {
	height: 228px;
}

#spanbackimg {
	height: 226px;
}

#spanbackimg {
	width: 218px;
}

#spanfrontimg {
	height: 226px;
}

#spanfrontimg {
	width: 218px;
}

#spanbackimg {
	height: 234px;
}

#spanbackimg {
	width: 220px;
}

#spanfrontimg {
	height: 234px;
}

#spanbackimg {
	height: 236px;
}

#spanbackimg {
	width: 220px;
}

#spanfrontimg {
	height: 236px;
}

#spanfrontimg {
	width: 220px;
}

#spanbackimg {
	height: 244px;
}

#spanbackimg {
	width: 222px;
}

#spanfrontimg {
	height: 244px;
}

#spanfrontimg {
	width: 222px;
}

#spanbackimg {
	height: 276px;
}

#spanbackimg {
	width: 222px;
}

#spanfrontimg {
	height: 276px;
}

#spantext41 {
	position: absolute;
	color: black;
	font-family: Helvetica Neue;
	font-size: 10pt;
	left: 22px;
	top: 195px;
	text-shadow: rgb(0, 0, 0) 4px 4px 10px;
}

#spantext40 {
	position: absolute;
	color: black;
	font-family: Helvetica Neue;
	font-size: 10pt;
	left: 22px;
	top: 179px;
	text-shadow: rgb(0, 0, 0) 4px 4px 10px;
}

#spantext39 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	left: 22px;
	top: 163px;
	text-shadow: rgb(0, 0, 0) 4px 4px 10px;
	color: rgb(0, 0, 0);
}

#spantext38 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	left: 22px;
	top: 146px;
	text-shadow: rgb(0, 0, 0) 4px 4px 10px;
	color: rgb(0, 0, 0);
}

#spantext37 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	left: 22px;
	top: 129px;
	text-shadow: rgb(0, 0, 0) 4px 4px 10px;
	color: rgb(0, 0, 0);
}

#spantext36 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	left: 22px;
	top: 112px;
	text-shadow: rgb(0, 0, 0) 4px 4px 10px;
	color: rgb(0, 0, 0);
}

#spantext35 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	left: 22px;
	text-shadow: rgb(0, 0, 0) 4px 4px 10px;
	color: rgb(0, 0, 0);
	top: 97px;
}

#spanfrontimg {
	left: -2px;
}

#spanbackimg {
	height: 278px;
}

#spanbackimg {
	width: 222px;
}

#spanfrontimg {
	height: 278px;
}

#spanbackimg {
	height: 218px;
}

#spanbackimg {
	width: 222px;
}

#spanfrontimg {
	height: 218px;
}

#spanbackimg {
	height: 216px;
}

#spanbackimg {
	width: 222px;
}

#spanfrontimg {
	height: 216px;
}

#spanbackimg {
	height: 210px;
}

#spanbackimg {
	width: 222px;
}

#spanfrontimg {
	height: 210px;
}

#spanbackimg {
	height: 208px;
}

#spanbackimg {
	width: 222px;
}

#spanfrontimg {
	height: 208px;
}

#spanbackimg {
	height: 206px;
}

#spanbackimg {
	width: 222px;
}

#spanfrontimg {
	height: 206px;
}

#spanfrontimg {
	width: 222px;
}

#spanbackimg {
	height: 134px;
}

#spanbackimg {
	width: 218px;
}

#spanfrontimg {
	height: 134px;
}

#spanbackimg {
	height: 132px;
}

#spanbackimg {
	width: 218px;
}

#spanfrontimg {
	height: 132px;
}

#spanbackimg {
	height: 128px;
}

#spanbackimg {
	width: 218px;
}

#spanfrontimg {
	height: 128px;
}

#spanfrontimg {
	width: 218px;
}

#spanbackimg {
	height: 112px;
}

#spanbackimg {
	width: 218px;
}

#spanfrontimg {
	height: 112px;
}

#spantext3 {
	position: absolute;
	font-family: Helvetica Neue;
	color: rgb(127, 127, 127);
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	left: 20px;
	font-size: 15.3333px;
	top: 41px;
}

#spantext2 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	color: rgb(127, 127, 127);
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	left: 20px;
	top: 73px;
}

#spantext1 {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	color: rgb(127, 127, 127);
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	left: 20px;
	top: 59px;
}

#spantext {
	position: absolute;
	font-family: Helvetica Neue;
	color: rgb(127, 127, 127);
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	font-size: 20.3333px;
	top: 19px;
	left: 20px;
}

#spanfront {
	left: -2px;
	display: none;
}

#spanbackimg {
	height: 110px;
}

#spanbackimg {
	width: 218px;
}

#spanfrontimg {
	height: 110px;
}

#spanfrontimg {
	width: 218px;
}

#spanbackimg {
	height: 134px;
}

#spanbackimg {
	width: 236px;
}

#spanfrontimg {
	height: 134px;
}

#spanfrontimg {
	width: 236px;
}

#spanbackimg {
	height: 218px;
}

#spanbackimg {
	width: 196px;
}

#spanfrontimg {
	height: 218px;
}

#spanfrontimg {
	width: 196px;
}

#spanbackimg {
	height: 220px;
}

#spanbackimg {
	width: 194px;
}

#spanfrontimg {
	height: 220px;
}

#spanbackimg {
	height: 222px;
}

#spanbackimg {
	width: 194px;
}

#spanfrontimg {
	height: 222px;
}

#spanfrontimg {
	width: 194px;
}

#spanbackimg {
	height: 224px;
}

#spanbackimg {
	width: 178px;
}

#spanfrontimg {
	height: 224px;
}

#spanfrontimg {
	width: 178px;
}

#spanbackimg {
	height: 270px;
}

#spanbackimg {
	width: 174px;
}

#spanfrontimg {
	height: 270px;
}

#spanbackimg {
	height: 272px;
}

#spanbackimg {
	width: 174px;
}

#spanfrontimg {
	height: 272px;
}

#spanfrontimg {
	width: 174px;
}

#spanbackimg {
	height: 288px;
}

#spanbackimg {
	width: 188px;
}

#spanfrontimg {
	width: 188px;
}

#spanbackimg {
	height: 288px;
}

#spanbackimg {
	width: 190px;
}

#spanfrontimg {
	width: 190px;
}

#spanbackimg {
	height: 288px;
}

#spanbackimg {
	width: 180px;
}

#spanfrontimg {
	width: 180px;
}

#spanfrontimg {
	width: 188px;
}

#spanfrontimg {
	width: 185px;
}

#spanfrontimg {
	width: 182px;
}

#spanfrontimg {
	width: 179px;
}

#spanbackimg {
	height: 288px;
}

#spanbackimg {
	width: 178px;
}

#spanfrontimg {
	width: 178px;
}

#spanbackimg {
	height: 288px;
}

#spanbackimg {
	width: 180px;
}

#spanfrontimg {
	width: 180px;
}

#spanbackimg {
	height: 288px;
}

#spanbackimg {
	width: 182px;
}

#spanfrontimg {
	width: 182px;
}

#spanbackimg {
	height: 288px;
}

#spanbackimg {
	width: 184px;
}

#spanfrontimg {
	height: 288px;
}

#spanfrontimg {
	width: 184px;
}

#spanbackimg {
	height: 280px;
}

#spanbackimg {
	width: 208px;
}

#spanfrontimg {
	height: 280px;
}

#spanbackimg {
	height: 278px;
}

#spanbackimg {
	width: 208px;
}

#spanfrontimg {
	height: 278px;
}

#spanfrontimg {
	width: 208px;
}

#spanbackimg {
	height: 280px;
}

#spanbackimg {
	width: 196px;
}

#spanfrontimg {
	height: 280px;
}

#spanfrontimg {
	width: 196px;
}

#spanbackimg {
	height: 282px;
}

#spanbackimg {
	width: 194px;
}

#spanfrontimg {
	height: 282px;
}

#spanfrontimg {
	width: 194px;
}

#spanbackimg {
	height: 288px;
}

#spanbackimg {
	width: 160px;
}

#spanfrontimg {
	height: 288px;
}

#spanfrontimg {
	width: 160px;
}

#spanbackimg {
	height: 290px;
}

#spanbackimg {
	width: 152px;
}

#spanfrontimg {
	width: 152px;
}

#spanbackimg {
	height: 290px;
}

#spanbackimg {
	width: 142px;
}

#spanfrontimg {
	height: 290px;
}

#spanfrontimg {
	width: 142px;
}

#spanbackimg {
	height: 292px;
}

#spanbackimg {
	width: 120px;
}

#spanfrontimg {
	width: 120px;
}

#spanbackimg {
	height: 292px;
}

#spanbackimg {
	width: 118px;
}

#spanfrontimg {
	height: 292px;
}

#spanfrontimg {
	width: 118px;
}

#spanbackimg {
	height: 294px;
}

#spanbackimg {
	width: 172px;
}

#spanfrontimg {
	width: 172px;
}

#spanbackimg {
	height: 294px;
}

#spanbackimg {
	width: 190px;
}

#spanfrontimg {
	height: 294px;
}

#spanfrontimg {
	width: 190px;
}

#spanbackimg {
	height: 290px;
}

#spanbackimg {
	width: 232px;
}

#spanfrontimg {
	width: 232px;
}

#spanbackimg {
	height: 290px;
}

#spanbackimg {
	width: 234px;
}

#spanfrontimg {
	height: 290px;
}

#spanbackimg {
	height: 282px;
}

#spanbackimg {
	width: 234px;
}

#spanfrontimg {
	height: 282px;
}

#spanfrontimg {
	width: 234px;
}

#spanbackimg {
	height: 236px;
}

#spanbackimg {
	width: 240px;
}

#spanfrontimg {
	height: 236px;
}

#spanbackimg {
	height: 234px;
}

#spanbackimg {
	width: 240px;
}

#spanfrontimg {
	height: 234px;
}

#spanfrontimg {
	width: 240px;
}

#spanfrontimg {
	height: 235px;
}

#spanbackimg {
}

#spanbackimg {
}

#spanbackimg {
	height: 234px;
}

#spanbackimg {
	width: 242px;
}

#spanfrontimg {
	width: 242px;
}

#spanfrontimg {
	height: 234px;
}

#spanbackimg {
}

#spanbackimg {
}

#spanbackimg {
	height: 324px;
}

#spanbackimg {
	width: 334px;
}

#spanfrontimg {
	width: 334px;
}

#spanfrontimg {
	height: 324px;
}

#spanbackimg {
}

#spanbackimg {
}

#spanbackimg {
	height: 332px;
}

#spanbackimg {
	width: 346px;
}

#spanfrontimg {
	height: 332px;
}

#spanfrontimg {
	width: 346px;
}

#spanbackimg {
	height: 324px;
}

#spanbackimg {
	width: 334px;
}

#spanfrontimg {
	height: 324px;
}

#spanfrontimg {
	width: 334px;
}

#spanbackimg {
	height: 234px;
}

#spanbackimg {
	width: 242px;
}

#spanfrontimg {
	height: 234px;
}

#spanfrontimg {
	width: 242px;
}

#spansccubefrontimg {
	position: absolute;
	display: block;
}

#spansccubeback {
	display: none;
}

#spansccubebackimg {
	position: absolute;
	display: block;
}

#spansccubedone {
	position: absolute;
	right: 18px;
	bottom: 22px;
}

#spansccubehellotext {
	position: absolute;
	left: 73px;
	top: 55px;
	right: 73px;
	width: 91px;
	color: black;
	font-family: Helvetica Neue Bold;
	font-size: 11pt;
	font-weight: bold;
}

#spansccubehellotext {
	top: 54px;
}

#spansccubehellotext {
	left: 72px;
}

#spansccubefrontimg {
	height: 272px;
}

#spansccubebackimg {
	width: 236px;
}

#spansccubebackimg {
	height: 272px;
}

#spansccubefrontimg {
	height: 262px;
}

#spansccubebackimg {
	width: 236px;
}

#spansccubebackimg {
	height: 262px;
}

#spansccubefrontimg {
	width: 238px;
}

#spansccubefrontimg {
	height: 254px;
}

#spansccubebackimg {
	width: 238px;
}

#spansccubebackimg {
	height: 254px;
}

#spansccubefrontimg {
	height: 246px;
}

#spansccubebackimg {
	width: 238px;
}

#spansccubebackimg {
	height: 246px;
}

#spansccubefrontimg {
	height: 244px;
}

#spansccubebackimg {
	width: 238px;
}

#spansccubebackimg {
	height: 244px;
}

#spansccubefrontimg {
	height: 240px;
}

#spansccubebackimg {
	width: 238px;
}

#spansccubebackimg {
	height: 240px;
}

#spansccubefrontimg {
	height: 238px;
}

#spansccubebackimg {
	width: 238px;
}

#spansccubebackimg {
	height: 238px;
}

#spansccubefrontimg {
	height: 234px;
}

#spansccubebackimg {
	width: 238px;
}

#spansccubebackimg {
	height: 234px;
}

#spansccubefrontimg {
	height: 232px;
}

#spansccubebackimg {
	width: 238px;
}

#spansccubebackimg {
	height: 232px;
}

#spansccubefrontimg {
	height: 230px;
}

#spansccubebackimg {
	width: 238px;
}

#spansccubebackimg {
	height: 230px;
}

#spansccubefrontimg {
	height: 228px;
}

#spansccubebackimg {
	width: 238px;
}

#spansccubebackimg {
	height: 228px;
}

#spansccubefrontimg {
	width: 236px;
}

#spansccubefrontimg {
	height: 226px;
}

#spansccubebackimg {
	width: 236px;
}

#spansccubebackimg {
	height: 226px;
}

#spansccubefrontimg {
	width: 232px;
}

#spansccubebackimg {
	width: 232px;
}

#spansccubebackimg {
	height: 226px;
}

#spansccubefrontimg {
	width: 230px;
}

#spansccubebackimg {
	width: 230px;
}

#spansccubebackimg {
	height: 226px;
}

#spansccubefrontimg {
	width: 226px;
}

#spansccubefrontimg {
	height: 228px;
}

#spansccubebackimg {
	width: 226px;
}

#spansccubebackimg {
	height: 228px;
}

#spansccubefrontimg {
	width: 222px;
}

#spansccubefrontimg {
	height: 234px;
}

#spansccubebackimg {
	width: 222px;
}

#spansccubebackimg {
	height: 234px;
}

#spansccubefrontimg {
	width: 220px;
}

#spansccubefrontimg {
	height: 236px;
}

#spansccubebackimg {
	width: 220px;
}

#spansccubebackimg {
	height: 236px;
}

#spansccubefrontimg {
	height: 238px;
}

#spansccubebackimg {
	width: 220px;
}

#spansccubebackimg {
	height: 238px;
}

#spansccubefrontimg {
	width: 222px;
}

#spansccubebackimg {
	width: 222px;
}

#spansccubebackimg {
	height: 238px;
}

#spansccubefrontimg {
	width: 228px;
}

#spansccubebackimg {
	width: 228px;
}

#spansccubebackimg {
	height: 238px;
}

#spansccubefrontimg {
	width: 230px;
}

#spansccubebackimg {
	width: 230px;
}

#spansccubebackimg {
	height: 238px;
}

#spansccubefrontimg {
	height: 236px;
}

#spansccubebackimg {
	width: 230px;
}

#spansccubebackimg {
	height: 236px;
}

#spansccubefrontimg {
	height: 230px;
}

#spansccubebackimg {
	width: 230px;
}

#spansccubebackimg {
	height: 230px;
}

#spansccubefrontimg {
	height: 226px;
}

#spansccubebackimg {
	width: 230px;
}

#spansccubebackimg {
	height: 226px;
}

#spansccubefrontimg {
	height: 222px;
}

#spansccubebackimg {
	width: 230px;
}

#spansccubebackimg {
	height: 222px;
}

#spansccubefrontimg {
	height: 220px;
}

#spansccubebackimg {
	width: 230px;
}

#spansccubebackimg {
	height: 220px;
}

#spansccubefrontimg {
	height: 218px;
}

#spansccubebackimg {
	width: 230px;
}

#spansccubebackimg {
	height: 218px;
}

#spansccubefrontimg {
	height: 216px;
}

#spansccubebackimg {
	width: 230px;
}

#spansccubebackimg {
	height: 216px;
}

#spansccubefrontimg {
	height: 218px;
}

#spansccubebackimg {
	width: 230px;
}

#spansccubebackimg {
	height: 218px;
}

#spansccubefrontimg {
	height: 220px;
}

#spansccubebackimg {
	width: 230px;
}

#spansccubebackimg {
	height: 220px;
}

#spansccubefrontimg {
	width: 228px;
}

#spansccubebackimg {
	width: 228px;
}

#spansccubebackimg {
	height: 220px;
}

#spansccubefrontimg {
	height: 222px;
}

#spansccubebackimg {
	width: 228px;
}

#spansccubebackimg {
	height: 222px;
}

#spansccubefrontimg {
	height: 226px;
}

#spansccubebackimg {
	width: 228px;
}

#spansccubebackimg {
	height: 226px;
}

#spansccubefrontimg {
	width: 226px;
}

#spansccubebackimg {
	width: 226px;
}

#spansccubebackimg {
	height: 226px;
}

#spansccubefrontimg {
	width: 224px;
}

#spansccubefrontimg {
	height: 228px;
}

#spansccubebackimg {
	width: 224px;
}

#spansccubebackimg {
	height: 228px;
}

#spansccubefrontimg {
	width: 226px;
}

#spansccubebackimg {
	width: 226px;
}

#spansccubebackimg {
	height: 228px;
}

#spansccubefrontimg {
	width: 228px;
}

#spansccubebackimg {
	width: 228px;
}

#spansccubebackimg {
	height: 228px;
}

#spansccubefrontimg {
	width: 234px;
}

#spansccubebackimg {
	width: 234px;
}

#spansccubebackimg {
	height: 228px;
}

#spansccubefrontimg {
	width: 236px;
}

#spansccubebackimg {
	width: 236px;
}

#spansccubebackimg {
	height: 228px;
}

#spansccubefrontimg {
	width: 238px;
}

#spansccubebackimg {
	width: 238px;
}

#spansccubebackimg {
	height: 228px;
}

#spansccubefrontimg {
	width: 240px;
}

#spansccubebackimg {
	width: 240px;
}

#spansccubebackimg {
	height: 228px;
}

#spansccubefrontimg {
	height: 230px;
}

#spansccubebackimg {
	width: 240px;
}

#spansccubebackimg {
	height: 230px;
}

#spansccubefrontimg {
	height: 232px;
}

#spansccubebackimg {
	width: 240px;
}

#spansccubebackimg {
	height: 232px;
}

#spansccubefrontimg {
	height: 234px;
}

#spansccubebackimg {
	width: 240px;
}

#spansccubebackimg {
	height: 234px;
}

#spansccubeinfo {
	top: 208px;
	left: 224px;
}

#spaninfo {
	top: 79px;
	left: 184px;
}

#spanbackimg {
	height: 234px;
}

#spanbackimg {
	width: 240px;
}

#spanfrontimg {
	height: 234px;
}

#spanbackimg {
	height: 232px;
}

#spanbackimg {
	width: 240px;
}

#spanfrontimg {
	height: 232px;
}

#spanbackimg {
	height: 230px;
}

#spanbackimg {
	width: 240px;
}

#spanfrontimg {
	height: 230px;
}

#spanbackimg {
	height: 228px;
}

#spanbackimg {
	width: 240px;
}

#spanfrontimg {
	width: 240px;
}

#spanbackimg {
	height: 228px;
}

#spanbackimg {
	width: 238px;
}

#spanfrontimg {
	width: 238px;
}

#spanbackimg {
	height: 228px;
}

#spanbackimg {
	width: 236px;
}

#spanfrontimg {
	width: 236px;
}

#spanbackimg {
	height: 228px;
}

#spanbackimg {
	width: 234px;
}

#spanfrontimg {
	width: 234px;
}

#spanbackimg {
	height: 228px;
}

#spanbackimg {
	width: 228px;
}

#spanfrontimg {
	width: 228px;
}

#spanbackimg {
	height: 228px;
}

#spanbackimg {
	width: 226px;
}

#spanfrontimg {
	width: 226px;
}

#spanbackimg {
	height: 228px;
}

#spanbackimg {
	width: 224px;
}

#spanfrontimg {
	height: 228px;
}

#spanfrontimg {
	width: 224px;
}

#spanbackimg {
	height: 226px;
}

#spanbackimg {
	width: 226px;
}

#spanfrontimg {
	width: 226px;
}

#spanbackimg {
	height: 226px;
}

#spanbackimg {
	width: 228px;
}

#spanfrontimg {
	height: 226px;
}

#spanbackimg {
	height: 222px;
}

#spanbackimg {
	width: 228px;
}

#spanfrontimg {
	height: 222px;
}

#spanbackimg {
	height: 220px;
}

#spanbackimg {
	width: 228px;
}

#spanfrontimg {
	width: 228px;
}

#spanbackimg {
	height: 220px;
}

#spanbackimg {
	width: 230px;
}

#spanfrontimg {
	height: 220px;
}

#spanbackimg {
	height: 218px;
}

#spanbackimg {
	width: 230px;
}

#spanfrontimg {
	height: 218px;
}

#spanbackimg {
	height: 216px;
}

#spanbackimg {
	width: 230px;
}

#spanfrontimg {
	height: 216px;
}

#spanbackimg {
	height: 218px;
}

#spanbackimg {
	width: 230px;
}

#spanfrontimg {
	height: 218px;
}

#spanbackimg {
	height: 220px;
}

#spanbackimg {
	width: 230px;
}

#spanfrontimg {
	height: 220px;
}

#spanbackimg {
	height: 222px;
}

#spanbackimg {
	width: 230px;
}

#spanfrontimg {
	height: 222px;
}

#spanbackimg {
	height: 226px;
}

#spanbackimg {
	width: 230px;
}

#spanfrontimg {
	height: 226px;
}

#spanbackimg {
	height: 230px;
}

#spanbackimg {
	width: 230px;
}

#spanfrontimg {
	height: 230px;
}

#spanbackimg {
	height: 236px;
}

#spanbackimg {
	width: 230px;
}

#spanfrontimg {
	height: 236px;
}

#spanbackimg {
	height: 238px;
}

#spanbackimg {
	width: 230px;
}

#spanfrontimg {
	width: 230px;
}

#spanbackimg {
	height: 238px;
}

#spanbackimg {
	width: 228px;
}

#spanfrontimg {
	width: 228px;
}

#spanbackimg {
	height: 238px;
}

#spanbackimg {
	width: 222px;
}

#spanfrontimg {
	width: 222px;
}

#spanbackimg {
	height: 238px;
}

#spanbackimg {
	width: 220px;
}

#spanfrontimg {
	height: 238px;
}

#spanbackimg {
	height: 236px;
}

#spanbackimg {
	width: 220px;
}

#spanfrontimg {
	height: 236px;
}

#spanfrontimg {
	width: 220px;
}

#spanbackimg {
	height: 234px;
}

#spanbackimg {
	width: 222px;
}

#spanfrontimg {
	height: 234px;
}

#spanfrontimg {
	width: 222px;
}

#spanbackimg {
	height: 228px;
}

#spanbackimg {
	width: 226px;
}

#spanfrontimg {
	height: 228px;
}

#spanfrontimg {
	width: 226px;
}

#spanbackimg {
	height: 226px;
}

#spanbackimg {
	width: 230px;
}

#spanfrontimg {
	width: 230px;
}

#spanbackimg {
	height: 226px;
}

#spanbackimg {
	width: 232px;
}

#spanfrontimg {
	width: 232px;
}

#spanbackimg {
	height: 226px;
}

#spanbackimg {
	width: 236px;
}

#spanfrontimg {
	height: 226px;
}

#spanfrontimg {
	width: 236px;
}

#spanbackimg {
	height: 228px;
}

#spanbackimg {
	width: 238px;
}

#spanfrontimg {
	height: 228px;
}

#spanbackimg {
	height: 230px;
}

#spanbackimg {
	width: 238px;
}

#spanfrontimg {
	height: 230px;
}

#spanbackimg {
	height: 232px;
}

#spanbackimg {
	width: 238px;
}

#spanfrontimg {
	height: 232px;
}

#spanbackimg {
	height: 234px;
}

#spanbackimg {
	width: 238px;
}

#spanfrontimg {
	height: 234px;
}

#spanbackimg {
	height: 238px;
}

#spanbackimg {
	width: 238px;
}

#spanfrontimg {
	height: 238px;
}

#spanbackimg {
	height: 240px;
}

#spanbackimg {
	width: 238px;
}

#spanfrontimg {
	height: 240px;
}

#spanbackimg {
	height: 244px;
}

#spanbackimg {
	width: 238px;
}

#spanfrontimg {
	height: 244px;
}

#spanbackimg {
	height: 246px;
}

#spanbackimg {
	width: 238px;
}

#spanfrontimg {
	height: 246px;
}

#spanbackimg {
	height: 254px;
}

#spanbackimg {
	width: 238px;
}

#spanfrontimg {
	height: 254px;
}

#spanfrontimg {
	width: 238px;
}

#spanbackimg {
	height: 262px;
}

#spanbackimg {
	width: 236px;
}

#spanfrontimg {
	height: 262px;
}

#spanbackimg {
	height: 272px;
}

#spanbackimg {
	width: 236px;
}

#spanfrontimg {
	height: 272px;
}

#spanhellotext {
	left: 72px;
}

#spanhellotext {
	top: 54px;
}

#spanhellotext {
	position: absolute;
	left: 73px;
	top: 55px;
	right: 73px;
	width: 91px;
	color: black;
	font-family: Helvetica Neue Bold;
	font-size: 11pt;
	font-weight: bold;
}

#spanbackimg {
	position: absolute;
	display: block;
}

#spanback {
	top: 1px;
	display: block;
}

#spanfrontimg {
	position: absolute;
	display: block;
}

#frontimg {
	top: 1px;
}

#frontimg {
	top: 9px;
}

#frontimg {
	left: 11px;
}

#text33 {
	position: absolute;
	font-family: Helvetica Neue;
	color: rgb(127, 127, 127);
	text-shadow: rgb(0, 0, 0) 2px 2px 0px;
	font-size: 15.3333px;
	top: 66px;
	left: 27px;
	width: 175px;
}

#backimg {
	top: 1px;
}

#backimg {
	top: 153px;
}

#backimg {
	left: 10px;
}

#backimg {
	left: -3px;
}

#backimg {
	left: -14px;
}

#backimg {
	top: -1px;
}

#backimg {
	top: -99px;
}

#backimg {
	left: -11px;
}

#backimg {
	top: 2px;
}

#backimg {
	top: -1px;
}

#backimg {
	left: 3px;
}

#backimg {
	top: -4px;
}

#backimg {
	left: 20px;
}

#backimg {
	left: -1px;
}

#backimg {
	left: -5px;
}

